.info-tab {
    position: absolute;
    bottom: 130%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
}

.scheme {
    position: relative;
    right: 3%;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    gap: 0;
}

.full-water {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
    border-radius: 30px;
    left: 5px;
    width: 20%;
    min-width: 120px;
    min-height: 40%;
    max-height: 90%;
    aspect-ratio: 1 / 1.6;
    z-index: 3;
}

.title {
    position: absolute;
    top: 5px;
}

.level {
    position: relative;
    border: 2px solid black;
    height: 80%;
    width: 15%;
    margin-left: 4px;
}

.fill-water {
    position: absolute;
    bottom: 0 ;
    width: 100%;
    background-color: aqua;
    z-index: 1;
}

.water-desc {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15%;
    z-index: 4;
}

.tube1 {
    position: relative;
    top: 15%;
    border: 4px solid black;
    width: 13%;
    min-height: 5%;
    max-height: 7%;
    aspect-ratio: 2.8 / 1;
}

.circle {
    position: relative;
    top: 15%;
    border: 4px solid black;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    width: 5%;
    min-width: 50px;
    background-color: white;
    z-index: 5;
    scale: 1.3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.triangle {
    width: 50%;
    height: 50%;
    background: black;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    rotate: 90deg;
}

.bottom-msg {
    position: absolute;
    top: 105%;
    text-align: center;
    width: 100%;
    min-width: 4rem;
}

.error-msg {
    text-align: center;
    color: red;
    animation: blink 700ms alternate infinite;
}

@keyframes blink {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

.tube2 {
    position: relative;
    top: 15%;
    border: 4px solid black;
    border-right: none;
    width: 13%;
    min-height: 5%;
    max-height: 7%;
    aspect-ratio: 2.8 / 1;
}

.corner {
    position: relative;
    border: 4px solid black;
    border-left: none;
    border-bottom: none;
    border-radius: 0 100% 0 0;
    height: calc(100% + 8px);
    left: calc(100% - 2px);
    bottom: 4px;
    aspect-ratio: 1 / 1;
}

.tube3 {
    position: relative;
    border: 4px solid black;
    border-top: none;
    width: calc(100% + 6px);
    top: 100%;
    right: 2px;
    aspect-ratio: 1 / 3;
}

.blank {
    position: relative;
    top: 15%;
    left: 5%;
    height: 5%;
}

.top-msg {
    width: 100%;
    position: absolute;
    bottom: 125%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border {
    position: absolute;
    border: 2px dotted black;
    border-radius: 30px;
    width: calc(100% + 15px);
    height: 210%;
    top: -3%;
}

.pressure-container {
    width: 100%;
    position: relative;
    top: 125%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-border {
    padding: 5px;
    border: 3px dotted black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.pres-range {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.pres-value {
    font-size: 1.25em;
}